input:hover {
    border-color: orangered;
}
input:focus {
width: 400px;
}
p:hover {
    color: orangered;
}
p:nth-child(even) {;
}
div {
    border: 3px solid gray;
    padding: 10px;
    margin: 10px;

}
header {
    border: 3px solid gray;
    padding: 30px;
    margin: 10px;
}
main {
    border: 3px solid gray;
    padding: 30px;
    margin: 10px;
}
footer {
    border: 3px solid gray;
    padding: 30px;
    margin: 10px;
}
section {
    border-top: 2px dotted gray;
    border-bottom: 2px dotted gray;
}
article {
    padding: 20px;
    margin: 20px;
    background-color: #ffa600ad;
}
span {
    background-color: purple;
}

div.caixa1 {
    background-color: yellow;
    border: 5px solid black;
}

div.caixa2 {
    background-color: green;
    border: 5px dotted black;
}

div.caixa3 {
    background-color: blue;
}
div {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 30px;
    padding: 40px;
}
